body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.185;
  letter-spacing: normal;
  color: var(--dark);
  background-color: var(--white);

  &.dark {
    color: var(--white);
    background-color: var(--dark);

    .menu {
      color: var(--white);
    }

    .user-contacts {
      --grey: #d8cfcf;
    }

    .hero {
      color: var(--white);
    }
  }
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  transition: outline 0.2s;

  &:focus {
    outline: 1px solid rgba(var(--orange), 0.8);
  }

  &:active {
    outline: 1px solid var(--orange);
  }

  &__img {
    width: 140px;
    height: 30px;

    @media(min-width: 1200px) {
      width: 189px;
      height: 36px;
    }
  }

  &__img--white {
    width: 140px;
    height: 25px;
  }
}

.icon {
  fill: currentColor;
}

.section {
  padding: 60px 0;

  @media(min-width: 1200px) {
    padding: 94px 0;
  }
}

.button {
  display: inline-block;
  color: var(--white);
  background-color: var(--orange);
  font-weight: 700;
  line-height: 1.875;
  border-radius: 4px;
  letter-spacing: 2.5px;
  padding: 10px 50px;
  outline: 1px solid transparent;
  outline-offset: 4px;
  transition: box-shadow 0.2s, outline-color 0.2s;

  &:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  }

  &:focus {
    outline-color: var(--orange);
  }

  &:active {
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.4);
  }

  &__icon {
    position: absolute;
    right: 13px;
  }
}

.title {
  margin-bottom: 30px;
  color: var(--dark);
  font-weight: 400;
  font-size: 28px;

  @media(min-width: 1200px) {
    margin-bottom: 49px;
    font-size: 36px;
  }
}

.theme-btn {
  position: fixed;
  top: 100px;
  right: 15px;
  width: 60px;
  height: 40px;
  background-color: var(--grey);
  border-radius: 20px;
  border: 3px solid rgba(33, 33, 33, 0.3);

  &__default {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--white);
    transition: all 0.3s;

    &.not-default {
      left: 100%;
      transform: translateX(-100%);
      background-color: var(--dark);
    }
  }
}